/*? #424549
/*? #36393e
/*? #282b30	
/*? #1e2124
*/

* {
	box-sizing: border-box;
	font-style: normal;
}

body {
	background-color: #1e2124;
	color: #fff;
	display: flex;
	font-family:sans-serif;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	min-height: 100vh;
}

h2 {
	margin: 10px 0 20px;
	text-align: center;
}

input[type=checkbox] {
	margin-right: 0px;
}

.cnt {
	background-color: #36393e;
	padding: 30px;
	width: 350px;
	max-width: 100%;
	height:auto;
}

.result-cnt {
	background-color: #424549;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	font-size: 18px;
	letter-spacing: 1px;
	padding: 12px 10px;
	height: 50px;
	width: 100%;
}

.result-cnt #pass-result {
	word-wrap: break-word;
max-width: calc(100% - 40px);
}

.btn {
	
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 8px 12px;
	background-color: #282b30;
}


.result-cnt .btn {
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
	height: 40px;
	width: 40px;
}

.opt {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: 3px 0px;
} 

.optstyle {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media screen and (max-width: 412px) {
	.result-cont {
		font-size: 14px;
	}
}